<div class="container">
<header class="clearfix">
	<h1>Plants</h1>	
	<input type="textfield" ng-model="query" />
</header>	
<div class="main">
	<div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid">
		<div ng-controller="PlantListCtrl">
			<ul>
				<li ng-repeat="plant in plants | filter:query">
					<a href="#/plants/{{plant.id}}" class="thumb"><img src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-600707264672/images/thumbs/plants/{{plant.picture_file_name}}"></a>
					<h3 class="cbp-vm-title">
						{{plant.variety }}<br />
					</h3>
					<div class="cbp-vm-details">
						{{ plant.latin_name }}
					</div>
					<div class="cbp-vm-details">
						{{ plant.description }}
					</div>
					<div>
						<a href="#" class="cbp-vm-icon cbp-vm-add"></a>
						<a href="#" class="cbp-vm-icon cbp-vm-add"></a>	
					</div>
				</li>
			</ul>
		</div>
	</div>
</div><!-- /main -->
</div><!-- /container -->

<br />

<%= link_to 'New Plant', new_plant_path %>
